div {
    width: 500px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

p {
    width: 100%;
    text-align: justify;
}

h1 {
    display: flex;
    justify-content: center;
}

.Alina-class {
    background: pink;
}

.Anna-class {
    background: aquamarine;
}